<head>
    <title></title>
    

    <% include ../views/partials/head %>
    <link rel='stylesheet' href='/stylesheets/edit.css' />
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    
  </head>
  <header>
    <% include ../views/partials/header %>
  </header>
  <style>
div.box{
  background-color: lightgrey;
  width: 600px;
  border: 0px solid green;
  padding: 20px;
  margin: 25px;
  box-shadow: 10px 10px 5px grey;
}
@media print {
   .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
   }
   .col-sm-12 {
        width: 100%;
   }
   .col-sm-11 {
        width: 91.66666667%;
   }
   .col-sm-10 {
        width: 83.33333333%;
   }
   .col-sm-9 {
        width: 75%;
   }
   .col-sm-8 {
        width: 66.66666667%;
   }
   .col-sm-7 {
        width: 58.33333333%;
   }
   .col-sm-6 {
        width: 50%;
   }
   .col-sm-5 {
        width: 41.66666667%;
   }
   .col-sm-4 {
        width: 33.33333333%;
   }
   .col-sm-3 {
        width: 25%;
   }
   .col-sm-2 {
        width: 16.66666667%;
   }
   .col-sm-1 {
        width: 8.33333333%;
   }
}
</style>

<body>
  <h3>Stair List</h3>
  <div class='box'>
    <button id='show_map'>Map</button>
    <button id='print'>Print</button>
     <% if(!locals.all) { %>
     <a id='link2'><span> Show All</span></a>
     <% } %>
  </div>
  <div class='row'>
      <div class="col-sm-4"><h3><%=name%></h3></div>
      <% if(!locals.all) { %>
      <div class="col-sm-6"></div>
      <div class="col-sm-2"></div>
      <% } %>
    </div>
  <h4><%=rows.length%> stairs</h4>
  <% if(!locals.all) { %>
  <h4>This weeks Stairs : <%=rows.length%> stairs</h4>
  <% } else { %>
  
    <h4>All Stairs : <%=rows.length%> stairs</h4>
    <% } %>
      <% var rows=rows %>
  
  
  
  

  <div class='container'>
    

    <table class='table'>
      <thead>
        <th>Stair</th>
        <th>Frequency</th>
        <th>Next Clean</th>
        <th>Cleaner</th>
      </thead>
      <tbody>
        <%for(var k=0;k< rows.length;k++){%>
      <tr>
        <td><%=rows[k].stair%></td>
        <td><%=freq[rows[k].freq]%></td>
        <td><%=rows[k].date%></td>
        <td><%=name%></td>
      </tr>
        <% } %>        
      </tbody>
    </table>
  </div>
	   
</body>
<script>
  //$(document).ready(function () {
///////////////////////////////////////////////
Date.prototype.getWeek = function() {
  var sixjan = new Date(this.getFullYear(),0,6);
  return Math.ceil((((this - sixjan) / 86400000) + sixjan.getDay()+1)/7);
}
Date.prototype.toShortFormat = function() {

    var month_names =["Jan","Feb","Mar",
                      "Apr","May","Jun",
                      "Jul","Aug","Sep",
                      "Oct","Nov","Dec"];
    
    var day = this.getDate();
    var month_index = this.getMonth();
    var year = this.getFullYear();
    
    return "" + day + " " + month_names[month_index] + " " + year;
}
////////////////////////////
    var wk=['A week','B week']
    var today = new Date();
    var end_of_week=new Date();
    end_of_week.setDate(end_of_week.getDate() + 7-today.getDay());
    var end_of_week_date=(new Date(end_of_week))
    var week_no=end_of_week.getWeek()
    console.log('end_of_week===='+end_of_week.getWeek())
    console.log('week++++++++++'+wk[week_no%2])
    //$('body h3:eq(1)').append(end_of_week.toShortFormat())
    //$('body h3:eq(2)').append(wk[week_no%2])
    $('body div.row div.col-sm-6')
        .append('<h3>Week Ending: '+end_of_week.toShortFormat()+'</h3>')
     $('body div.row div.col-sm-2').append('<h3>'+wk[week_no%2]+'</h3>')
////////////////////////////////////////////////
var id=<%-id%>;
console.log('value of id====++'+id)
  
$('.box #show_map').on('click',function(){
  console.log('in show_map')
  var id=<%-id%>;
  var r=<%- JSON.stringify(rows)%>
   //var r1=JSON.parse(r);
  console.log('id=='+id+' rows===='+r[0].stair+' length==='+r.length)
  ////// construct markers object //////
var markers=[]
for(var i=0;i<r.length;i++){
      var latlng={}
      latlng.stair=r[i].stair
      latlng.lat=r[i].lat
      latlng.lng=r[i].lng
      //console.log('latlng==='+JSON.stringify(latlng))
      markers.push(latlng)
    }
//console.log('markers==='+JSON.stringify(markers))
document.location.href = '/map?markers='+JSON.stringify(markers)

});


  $('div.box button#print').on('click', function(e){
    console.log('in print')
    $('.box').css({'display': 'none'})
    print();
  })

$('div.box a').on('click', function(e){
  console.log('in <a>')
  //var id = 2;
    var strLink = "all?id=" + id;
    $('#link2').hide();
    document.getElementById("link2").setAttribute("href",strLink);


})

$('div.box button#all').on('click', function(e){
    console.log('in show all')
    var id=<%-id%>;
    var freq=['weekly', 'A_week', 'B_week', '_3weekly','_4weekly','Monthly'];
    console.log('id=='+id)
    $.get('/cleaners/all/:id',{id:id},function(rows){
      console.log('get all #stairs='+rows.length)
      console.log('rows===='+JSON.stringify(rows))
     $('body h4').empty().append(rows.length+'stairs')
      $('.table tbody').empty();
      for(k=0;k<rows.length;k++){
      $('.table tbody').append('<tr><td>'+rows[k].stair+'</td><td>'
        +freq[rows[k].freq]+'</td><td>'
        +rows[k].date+'</td><td>'
        +rows[k].cleaner+'</td></tr>')
      }
      
    })

});

</script>